---
import { SEO } from "astro-seo";
---

<html lang="en">
  <head>
    <SEO
      title="Nolan Poe's Website"
      description="Engineering portfolio resume website to show skills in electrical engineering and computer science."
      charset="utf-8"
      openGraph={{
        basic: {
          title: "Nolan Poe - Engineering student",
          type: "image",
          image:
            "https://upload.wikimedia.org/wikipedia/commons/9/92/Cog_font_awesome.svg",
        },
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          {
            name: "viewport",
            content: "width=device-width, initial-scale=1, shrink-to-fit=no",
          },
        ],
      }}
    />

  </head>
  <body class="bg-stone-100">
    <!-- Navigation-->
    <nav class="bg-stone-950 absolute inset-x-0 bottom-0">
      <div class="block md:mx-20" id="navbar-default">
        <ul
          class="flex flex-col p-4 my-4 md:items-center md:flex-row md:space-x-12 md:my-1"
        >
          <li>
            <a href="#" class="flex flex-row text-slate-50 text-5xl">
              npg
            </a>
          </li>
          <li>
            <a
              href="https://github.com/np22-jpg"
              class="text-slate-400 my-10 text-4xl md:text-3xl">GitHub</a
            >
          </li>
          <li>
            <a
              href="https://ultraviolet.nolanpoe.me"
              class="text-slate-400 my-auto text-4xl md:text-3xl">Ultraviolet</a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/nolan-poe-077737210/"
              class="text-slate-400 my-auto text-4xl md:text-3xl">LinkedIn</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <section>
      <div class="p-6 md:mx-20">
        <h1 class="my-4 font-semibold text-8xl">Nolan Poe</h1>
        <p class="text-xl">
          Electrical Engineering major at San Jose State University,<br /> Computer
          Science major at De Anza College.
        </p>
      </div>
    </section>
  </body>
</html>

<style lang="css">
  [astro-icon] {
      color: text-slate-50;
  }
</style>