---
import { SEO } from "astro-seo";
---

<html lang="en">
  <head>
    <SEO
      title="Nolan Poe's Website"
      description="Engineering portfolio resume website to show skills in electrical engineering and computer science."
      charset="utf-8"
      openGraph={{
        basic: {
          title: "Nolan Poe - Engineering student",
          type: "image",
          image:
            "https://upload.wikimedia.org/wikipedia/commons/9/92/Cog_font_awesome.svg",
        },
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          {
            name: "viewport",
            content: "width=device-width, initial-scale=1, shrink-to-fit=no",
          },
        ],
      }}
    />

  </head>
  <body class="bg-stone-100">
    <!-- Navigation-->
    <nav class="bg-stone-950 absolute inset-x-0 bottom-0">
      <div class="block md:mx-20" id="navbar-default">
        <ul
          class="flex flex-col mb-6 space-y-4 md:mt-3 md:mb-6 md:items-center md:flex-row md:space-x-10"
        >
          <li>
            <a class="hidden md:flex md:text-slate-50 md:text-5xl" href="#">
              npg
            </a>
          </li>
          <li>
            <a
              href="https://github.com/np22-jpg"
              class="text-slate-400 text-4xl md:text-3xl">GitHub</a
            >
          </li>
          <li>
            <a
              href="https://ultraviolet.nolanpoe.me"
              class="text-slate-400 text-4xl md:text-3xl">Ultraviolet</a
            >
          </li>
          <li>
            <a
              href="https://pacman.nolanpoe.me"
              class="text-slate-400 text-4xl md:text-3xl">Pac-Man</a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/nolan-poe-077737210/"
              class="text-slate-400 text-4xl md:text-3xl">LinkedIn</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <section>
      <div class="p-6 md:mx-20">
        <h1 class="my-4 font-semibold text-9xl">Nolan Poe</h1>
        <div class="text-3xl flex flex-col">
        <p>
          Unemployed college dropout.
        </p>
        </div>
      </div>
    </section>
  </body>
</html>