---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Nolan Poe's funny little website." />
    <meta name="author" content="Nolan Poe" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>Nolan Poe</title>
  </head>
  <body class="bg-white">
    <!-- Navigation-->
    <nav class="bg-stone-900 absolute inset-x-0 bottom-0">
      <div class="block md:mx-20" id="navbar-default">
        <ul
          class="flex flex-col items-start md:items-center p-4 mt-4 md:flex-row md:space-x-12 md:m-0 md:bg-neutral-900"
        >
          <li>
            <a
              href="#!"
              class="hidden md:block text-slate-50 text-5xl"
              aria-current="page">npg</a
            >
          </li>
          <li>
            <a
              href="https://github.com/np22-jpg"
              class="text-slate-400 my-10 text-4xl md:text-3xl">GitHub</a
            >
          </li>
          <li>
            <a
              href="https://ultraviolet.nolanpoe.me"
              class="text-slate-400 my-auto text-4xl md:text-3xl">Ultraviolet</a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/nolan-poe-077737210/"
              class="text-slate-400 my-auto text-4xl md:text-3xl">LinkedIn</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <section>
      <div class="p-6 md:mx-20">
        <h1 class="my-4 font-semibold text-8xl">Nolan Poe</h1>
        <p class="text-xl">
          Electrical Engineering major at San Jose State University,<br /> Computer
          Science major at De Anza College.
        </p>
      </div>
    </section>
  </body>
</html>
